.videoCard {
  --bo-ui-badge-padding-y: 7px;
  --bo-ui-badge-padding-x: 14px;
  --bo-ui-badge-border: 1px solid var(--blue-400);
  --bo-ui-badge-background-color: var(--blue-100);
  --bo-ui-badge-line-height: 21px;
  --bo-ui-badge-label-color: var(--gray-900);
  --bo-ui-badge-label-value: var(--gray-800);
  --bo-ui-badge-border-radius: 4px;

  --bo-ui-released-on-font-color: var(--gray-800);

  --bo-ui-video-card-header-font-size: 16px;
  --bo-ui-video-card-header-font-weight: 500;
  --bo-ui-video-card-header-line-height: 24px;
  --bo-ui-video-card-border: 2px solid var(--blue-300);
  --bo-ui-video-card-border-radius: 4px;
  --bo-ui-video-card-padding: 0 0 15px 0;
}
