@import 'node_modules/@boclips-ui/styles/src/_publishersColours';

.emptyCartView {
  @apply grid grid-cols-24 row-span-3 col-start-2 col-end-26 bg-primary-light h-auto rounded-lg;
  a {
    color: @blue-700 !important;
    text-decoration: underline !important;

    &:hover {
      text-decoration: none !important;
    }
  }
  height: 432px;
  opacity: 0;
  animation-duration: .70s;
  &.fadeIn {
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
}

.orderConfirmedView {
  @apply grid grid-cols-24 row-start-2 row-end-4 col-start-2 col-end-26 bg-primary-light h-auto rounded-lg;
  a {
    color: #002588 !important;
    text-decoration: none !important;

    &:hover {
      text-decoration: none !important;
    }
  }
  height: 432px;
  background-color: white;
}

.fadeOutWrapper {
  animation-duration: 0.5s;
  &.fadeOut {
    animation-name: fadeOut;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
