.filterOptions {
 @apply overflow-y-auto pr-3 -mr-3;
}

.filterOptions::-webkit-scrollbar {
  width: 7px;
}

.filterOptions::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: none
}

.filterOptions::-webkit-scrollbar-thumb {
  background: #BCCDFF;
  border-radius: 100vh;
}
