.basketCounter{
  @apply absolute bg-blue-500 rounded-full items-center justify-center flex text-blue-800 font-bold;
  top: -10px;
  right: -14px;
  width:24px;
  height: 24px;
  font-size: 0.75rem;
}