@import '~@boclips-ui/styles/src/_publishersColours';

.pagination {
  display: flex;
  justify-content: center;

  :global(.ant-pagination-item) {
    border: none;
  }

  :global(.ant-pagination-disabled) {
    display: none;
  }

  :global(.ant-pagination-item-active) {
    .paginationButton {
      background-color: var(--blue-800) !important;
      border: none !important;

      .copy {
        color: white;
      }
    }
  }

  .paginationButton {
  @apply flex flex-row font-bold border-2 rounded items-center justify-evenly;
    height: 40px;
    width: 40px;

    .prev {
      transform: rotate(180deg);
    }

    .copy {
      color: @blue-800
    }

    &.large {
      width: 96px;
    }

    svg {
      stroke: @blue-800 !important;
    }

    &:hover {
      border-color: @blue-800;
    }

    &:active {
      background-color: @blue-900;
      border-color: @blue-900;

      .copy {
        color: white;
      }

      svg {
        stroke: white !important;
      }

      .ellipsis {
        fill: white !important;
      }
    }
  }
}
