@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
  @apply font-medium text-h1;
  }

  h2 {
  @apply text-h2;
    color: inherit !important;
  }
}

@font-family: 'Rubik', Helvetica Neue, Helvetica, Arial, sans-serif;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  font-family: @font-family !important;
}
