@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'antd/lib/style/themes/default.less';

@font-family: 'Rubik', Helvetica Neue, Helvetica, Arial, sans-serif;

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html {
  font-family: @font-family!important;
}
