@import 'node_modules/@boclips-ui/styles/src/_publishersColours';

.textButton {
  margin: 4px 0;
  --bo-ui-button-text-colour: @blue-900;
  --bo-ui-button-font-size: 1rem;
  --bo-ui-button-font-weight: 500;
  --bo-ui-button-padding: 0.25rem;
  --bo-ui-button-border: 0;
  --bo-ui-button-border-radius: 4px;
  --bo-ui-button-box-shadow-colour: transparent;
  --bo-ui-button-background-color: none;
  --bo-ui-button-background-color-hover: @blue-300;
  --bo-ui-button-background-color-active: @blue-300;
  --bo-ui-button-svg-stroke-clour: @blue-900;
}
